body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.flor{
    position: absolute;
    width: 100%;
    z-index: -1;
}

h1{
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    padding-left: 5rem;
    padding-top: 3.5rem;
}

h4{
    color: #fff;
    font-size: 2rem;
}

.but{
    text-decoration: none;
}

h2{
    color: #fff;
}

.brand-logo {
    padding-left: 3rem;
}

nav{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    letter-spacing: .5rem;
    padding-left: 5rem;
}

.sign{
    padding-right: 5rem;
}
