<head>
    <title>courrier</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="courrier.ico" />
</head>

<body>
    
    <div class="navbar-fixed">
        <nav class="amber darken-2">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">courrier</a>
                <ul class="sign right hide-on-med-and-down">
                    <li>{{> loginButtons align=right}}</li>
                </ul>
            </div>
        </nav>
    </div>
    
</body>

<template name="welcome">
    {{#if currentUser}}
    
    <h1>courrier</h1>
    
    <ul>
        {{#each posts}}
        <li><a href="/post/{{_id}}">{{username}}{{name}}</a></li>
        {{/each}}
    </ul>
    
    {{else}}
    
    <img class="flor" src="mail.png">
    <h1>STAY<br>CONNECTED<br>WITH<br>FRIENDS<br>and FAMILY.</h1>
    
    {{/if}}
    
</template>

<template name="posts">
    <h2 class="post-class">{{name}}></h2>
    <form class="name-form">
        <input type="text" name="firstname">
        <button class="btn waves-effect waves-light" type="submit" name="action">
            <input type="submit">
        </button>
    </form>
</template>